*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    text-align: center;
}

.heading{

    text-align: center;
    color: aqua;
}

.discription{

    text-align: center;
    font-weight: bolder;
    
}

label{

    padding: 0.5rem;
    margin: auto;
    font-weight: bolder;
}

#bill-amount{
    width: 30%;
    padding: 0.5rem 0.2rem;
    border-radius: 0.5rem;
    border-color: aqua;
    margin: auto;

}

#cash-given{
    width: 30%;
    padding: 0.5rem 0.2rem;
    border-radius: 0.5rem;
    border-color: aqua;
    margin: auto;
}

#check-button{
    width: 20%;
    padding: 0.5rem 0.1rem;
    border: 0.5rem;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: aqua;
}

caption{

    padding: 1rem;
    font-weight: bolder;

}





table{

    border: 2px solid aqua;
    border-collapse: collapse;
    
}